// ---------------------------------------- //
//	# Variables
// ---------------------------------------- //

// # Colors - Primary
$color-grey: 			   	rgb(151,151,151);
$color-grey-dark:			rgb(55,55,55);
$color-green:         		rgb(65,117,5);

// # Typography
// Font-Family:	OpenSans-Semi-Bold
// Font-Family:	OpenSans-Semi-Light
// Font-Size:	15px
$font-size:          15px;
$font-bold:          600 $font-size 'Open Sans', sans-serif;
$font-light:         300 $font-size 'Open Sans', sans-serif;